<!DOCTYPE html>
<html>
	<head>
		<title>Upps - 501</title>
	</head>
	<body>
		<main style="width: 100%; min-height: 100vh; display: grid; place-items: center; text-align: center">
		<section>
	 		<p style="font-size: 2rem"> Upps, something was error </p>
			<pre><%= err %></pre>
		</section>
	 </main>
  </body>
</html>
