<main class="container-md py-3 px-4" style="margin-top: 1rem">
  <h1 class="text-primary">
    <i class="fa-solid fa-note-sticky"></i>
    Message API
  </h1>
  <p>
    Platform as Service (PaS) for generate Endpoint with purpose can to be use for service message
    of <strong class="text-primary">Diundang - Digital Wedding Invitation</strong> products.
  </p>
  <section>
    <a href="" class="btn btn-light">Learn More</a>
    <a href="" class="btn"><i class="fa-brands fa-github"></i> Github</a>
  </section>
</main>
