<nav class="navbar navbar-primary bg-light fixed-top">
  <div class="container-fluid">
    <a href="http://<%= url %>" class="navbar-brand mb-0 h1 text-primary text-center d-flex align-items-center gap-1"><i class="fa-solid fa-note-sticky"></i>DMA</a>
  </div>
</nav>
